<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=file.file_name%></title>
  </head>
  <body>
    <a href="/folder/<%=file.folder.folder_id%>">Go back</a>
    <h1><%=file.file_name%></h1>
    <p>Uploaded Date: <%=file.file_upload_date%></p>
    <p>Upload Location: <%=file.file_location%></p>
    <p>Your file size is: <%=file.file_size%></p>
    <img src="data:<%=file.file_type%>;base64,<%=file.file_content%>" alt="" />

    <button id="deleteFileBtn">DELETE THIS FILE</button>

    <script>
      const deleteFileBtn = document.querySelector("#deleteFileBtn");
      deleteFileBtn.addEventListener("click", (e) => {
        fetch("http://localhost:8080/file/<%=file.file_id%>", {
          method: "DELETE",
        })
          .then((res) => {
            const redirectURL = res.url;
            window.location.href = redirectURL;
          })
          .catch((err) => console.error(err));
      });
    </script>
  </body>
</html>
